html,
body {
  height: 100%;
}

body {
  margin: 0;
  scroll-behavior: smooth;
}

#webchat {
  height: 100vh;
}

#webchat div[role="complementary"] {
  padding-bottom: 40px;
}

#webchat button.ac-pushButton {
  border-radius: 8px;
  background-color: #af292e;
  color: #fff;
  cursor: pointer;
}

#webchat button.ac-pushButton:hover {
  background-color: #861f23;
}

#webchat button.ac-pushButton:active {
  background-color: #861f23;
}

#webchat button.ac-pushButton.disabled {
  background-color: #ddd;
  color: #bbb;
  cursor: not-allowed;
}

#webchat .from-user.avatar {
  background-color: #fff;
  color: #af292e;
  border: 2px solid #af292e;
}

#webchat .ac-textBlock {
  overflow: visible !important;
}

#webchat div[role="complementary"] {
  padding-bottom: 100px;
}

#webchat [role="complementary"] ul[role="list"]::after {
  content: "";
  background: linear-gradient(rgba(248, 248, 248, 0), rgba(248, 248, 248, 0.63), #f8f8f8 40%);
  bottom: 5;
  right: 0;
  color: #707070;
  display: circle;
  font-family: "Segoe Semibold", Calibri, "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  padding: 15px 10px 10px;
  position: fixed;
  position: sticky;
  text-align: right;
  align-items: flex-start;
  justify-content: flex-start;
}

#webchat .webchat__scrollToEndButton {
  bottom: 32px;
  left: 50%;
  right: unset;
  transform: translate(-50%, 0);
}
