html,
body {
  margin: 0;
  height: 90%;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 400px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

#webchat {
  height: 90%;
  width: 90%;
}

button {
  font-size: 12px;
}

button.disabled {
  background-color: #d9d9d9 !important;
  color: #ffffff !important;
  border-color: #cccccc !important;
}

button.selected {
  background-color: #0078d7 !important;
  color: white !important;
  border-color: #cccccc !important;
}

.content {
  float: left;
  height: 85%;
  align-items: flex-start; 
  justify-content: flex-start;
  padding-left: 5px;
}

#botContainer {
  float: right;
  height: 90%;
  width: 260px;
  position: relative;
  align-items: flex-start; 
  justify-content: flex-start;
  display: none;
  border-width: 2px;
  border-style: inset;
}

-pane {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.wc-message-group-content {
  margin-top: 0px !important;
}

#flexSpacer {
  align-self: flex-start;
}

.wc-message-groups {
  scroll-behavior: smooth;
}

.wc-message-wrapper {
  margin: 0 !important;
  padding-bottom: 2px !important;
  align-items: flex-start; 
  justify-content: flex-start;
}


#webchat[] [role="complementary"] ul[role="list"]::after {
  content: '';
  background: linear-gradient(rgba(248, 248, 248, 0), rgba(248, 248, 248, .63), #F8F8F8 40%);
  bottom: 5;
  right: 0;
  color: #707070;
  display: circle;
  font-family: 'Segoe Semibold', Calibri, 'Helvetica Neue', Arial, sans-serif;
  font-size: 12px;
  padding: 15px 10px 10px;
  position: fixed;
  position: sticky;
  text-align: right;
  align-items: flex-start; 
  justify-content: flex-start;
}

#webchat[] .webchat__scrollToEndButton {
  bottom: 32px;
  left: 50%;
  right: unset;
  transform: translate(-50%, 0);
}

