html,
body {
  height: 100%;
}

body {
  margin: 0;
  scroll-behavior: smooth;
}

#webchat {
  height: calc(100vh - 40px);
}

#webchat button.ac-pushButton {
  border-radius: 8px;
  background-color: #A5D687;
  color: #702082;
  cursor: pointer;
  flex-basis:auto!important;
}

#webchat button.ac-pushButton:hover {
  background-color: #7eb45d;
}

#webchat button.ac-pushButton:active {
  background-color: #7eb45d;
}

#webchat button.ac-pushButton.disabled {
  background-color: #ddd;
  color: #bbb;
  cursor: not-allowed;
}

#webchat button.ac-pushButton div {
  white-space: normal !important;
}

#webchat .from-user.avatar {
  background-color: #702082;
  color: #fff;
  border: 2px solid #702082;
}

#webchat .ac-textBlock {
  overflow: visible !important;
}

#webchat [role="complementary"] ul[role="list"]::after {
  content: "";
  background: linear-gradient(rgba(248, 248, 248, 0), rgba(248, 248, 248, 0.63), #f8f8f8 40%);
  bottom: 5;
  right: 0;
  color: #707070;
  display: circle;
  font-family: "Segoe Semibold", Calibri, "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  padding: 15px 10px 10px;
  position: fixed;
  position: sticky;
  text-align: right;
  align-items: flex-start;
  justify-content: flex-start;
}

#webchat .webchat__scrollToEndButton {
  bottom: 32px;
  left: 50%;
  right: unset;
  transform: translate(-50%, 0);
}

#restartButton {
  background-color: #A5D687;
  color: #702082;
  border-radius: 8px;
  cursor: pointer;
  margin:0;
  position:absolute;
  left:45%;
  width:100px;
  height:30px;
  font-weight:bold;
}
